@charset "utf-8";
/* CSS Document*/
#submi{
	background: url("../images/login/22.jpg");
	height: 35px;
	width: 98px;
	margin-left: 0px;
	border: 0;
}
.nameandpass {
	height: 40px;
	width: 256px;
	border:0px;
	
}
#zhuce{
	background: url("../images/login/25.jpg");
	height: 15px;
	width: 113px;
	margin-left: 0px;
	border: 0;
	}
.czbj{background: url("../images/login/13.jpg");
	height:40px;
	width:68px;}
.cz{
	background: url("../images/login/05.jpg");
	height: 22px;
	width: 22px;
	margin-top: 5px;
	border:0px solid red;
}
#tishi{
	background:url("../images/login/20.jpg")}